VITE_API_URL=/api
# VITE_API_URL=http://localhost:8000

# ==========================================
# Configuración de Base de Datos
# ==========================================
POSTGRES_DB=vulnerabilidades_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password_seguro
# POSTGRES_HOST=db-api 
# POSTGRES_PORT=5432

# ==========================================
# Configuración de la API y Seguridad
# ==========================================
ENCRYPTION_KEY=PON_TU_LLAVE_DE_ENCRIPTACION_AQUI
SECRET_KEY=PON_TU_SECRETO_AQUI
